input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 0 15px;
    height: 50px;
    outline: none;
    border: 1px solid var(--mid-gray-color);
    font-size: 16px;
    border-radius: 5px;
    appearance: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: var(--primary-color);
}

label {
    display: block;
    color: var(--darker-gray-color);
    font-size: 0.875rem;
    font-weight: 700;
}

label + label {
    margin-top: 1.25rem;
}

label input,
label textarea {
    margin-top: 0.4375rem;
}

input,
textarea {
    padding: 0 0.9375rem;
    width: 100%;
    height: 44px;
    outline: none;
    border: 1px solid var(--light-gray-color);
    color: var(--darker-gray-color);
    font-size: 1rem;
    background-color: var(--white-color);
    border-radius: 5px;
    appearance: none;
}

.dark-mode input,
.dark-mode textarea {
    color: var(--light-gray-color);
    background-color: var(--dark-mode-bg-color);
}

input:focus,
textarea:focus {
    border-color: var(--mid-gray-color);
}

textarea {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    height: 100%;
    resize: vertical;
}

.form-wrapper {
    position: relative;
}

.form-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: 0;
    color: var(--white-color);
    background-color: var(--brand-color);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.form-button .icon {
    width: 20px;
    height: 20px;
}

.form-button .icon-loading {
    display: none;
}

.loading .form-button .icon {
    display: none;
}

.loading .form-button .icon-loading {
    display: block;
}

.contact-form {
    margin-top: 1.875rem;
}

.contact-form .button {
    margin-top: 0.9375rem;
}
