code {
  padding: 3px 5px;
  border-radius: 4px;
  color: #c7254e;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #f8f5ec !important;
}

pre {
  overflow-x: auto;
}

.hljs {
  margin: 1em 0;
  padding: 30px 7px 10px !important;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}

/* .hljs table {
  position: relative;
  max-width: none;
} */

.hljs::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 2px 7px;
  font-size: 13px;
  font-weight: bold;
  color: #b1b1b1;
  background: #f4efe1;
  content: 'Code';
}

.hljs.html::after {
  content: "HTML";
}

.hljs.javascript::after {
  content: "JavaScript";
}

.hljs.bash::after {
  content: "Bash";
}

.hljs.css::after {
  content: "CSS";
}

.hljs.scss::after {
  content: "Scss";
}

.hljs.java::after {
  content: "Java";
}

.hljs.xml::after {
  content: "XML";
}

.hljs.python::after {
  content: "Python";
}

.hljs.json::after {
  content: "JSON";
}

.hljs.nginx::after {
  content: "Nginx";
}

.hljs.swift::after {
  content: "Swift";
}

.hljs.ruby::after {
  content: "Ruby";
}

.hljs.php::after {
  content: "PHP";
}

.hljs.c::after {
  content: "C";
}

.hljs.cpp::after {
  content: "C++";
}

.hljs.scheme::after {
  content: "Scheme";
}

.hljs.objectivec::after {
  content: "Objective-C";
}

.hljs.yml::after {
  content: "YAML";
}

.hljs.stylus::after {
  content: "Stylus";
}

.hljs.sql::after {
  content: "SQL";
}

.hljs.http::after {
  content: "HTTP";
}

.hljs.go::after {
  content: "Go";
}

.hljs.kotlin::after {
  content: "Kotlin";
}

.hljs .line {
  height: 20px;
}

.hljs table, .hljs tr, .hljs td {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.hljs .hljs-ln-numbers {
  color: #cacaca;
  padding-right: 7px;
  vertical-align: top;
  word-break: normal;
}

.hljs .hljs-ln-code .hljs-comment,
.hljs .hljs-ln-code .hljs-quote {
  color: #93a1a1;
}

.hljs .hljs-ln-code .hljs-keyword,
.hljs .hljs-ln-code .hljs-selector-tag,
.hljs .hljs-ln-code .hljs-addition {
  color: #859900;
}

.hljs .hljs-ln-code .hljs-number,
.hljs .hljs-ln-code .hljs-string,
.hljs .hljs-ln-code .hljs-meta .meta-string,
.hljs .hljs-ln-code .hljs-literal,
.hljs .hljs-ln-code .hljs-doctag,
.hljs .hljs-ln-code .hljs-regexp {
  color: #2aa198;
}

.hljs .hljs-ln-code .hljs-title,
.hljs .hljs-ln-code .hljs-section,
.hljs .hljs-ln-code .hljs-name,
.hljs .hljs-ln-code .hljs-selector-id,
.hljs .hljs-ln-code .hljs-selector-class {
  color: #268bd2;
}

.hljs .hljs-ln-code .hljs-attribute,
.hljs .hljs-ln-code .hljs-attr,
.hljs .hljs-ln-code .hljs-variable,
.hljs .hljs-ln-code .hljs-template-variable,
.hljs .hljs-ln-code .hljs-class .title,
.hljs .hljs-ln-code .hljs-type {
  color: #b58900;
}

.hljs .hljs-ln-code .hljs-symbol,
.hljs .hljs-ln-code .hljs-bullet,
.hljs .hljs-ln-code .hljs-subst,
.hljs .hljs-ln-code .hljs-meta,
.hljs .hljs-ln-code .hljs-meta .keyword,
.hljs .hljs-ln-code .hljs-selector-attr,
.hljs .hljs-ln-code .hljs-selector-pseudo,
.hljs .hljs-ln-code .hljs-link {
  color: #cb4b16;
}

.hljs .hljs-ln-code .hljs-built_in,
.hljs .hljs-ln-code .hljs-deletion {
  color: #dc322f;
}
